@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.top-container {
  background: url("../image/home.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container h1 {
  color: #fff;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.text {
  margin: 50px 5%;
  font-size: 18px;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  margin: 0 10px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #04b85e;
}

.navbar.active {
  background-color: #000;
}

.navbar.active ul li a {
  color: #fff;
}
